Django==4.2.22   # Django3.1
django-extensions
Werkzeug
pyOpenSSL
beautifulsoup4
redis
oauth2client
gspread
django-hosts
mysqlclient
mysql-connector-python==8.0.29
PyGithub
#google-ads
markdown
googletrans
goolabs
wikipedia
careerjet_api
mecab-python3
unidic-lite